*,
*::before,
*::after{
box-sizing:border-box;
}

body{
color:black;
font-family:Arial,Helvetica,sans-serif;
}

h1{
color:white;
padding-top:0px;
font-size:22px;
text-align:center;
}

h2{
color:white;
padding:40px;
font-size:38px;
text-align:center;
}

P{
justify-content:center;
height:57px;
margin-top:14px;
color:black;
font-size:24px;
font-weight:bolder;
text-align:center;
}


#answers{
color:black;
text-align:center;
}

#submit{
cursor:pointer;
color:black;
border-radius:5px;
background-color:white;
text-align:center;
}

.quiz{
opacity: 0.9;
margin-left:auto;
margin-right:auto;
width:600px;
color:black;
text-align:center;
font-size:23px;
padding:15px;
background-color:white;
border-radius:5px;
}

form{
height:350px;
color:hsl(0,0%,100%);
background-color:black;
border-width:2px;
border-color:white;
margin-right:auto;
text-align:left;
box-shadow:04px8px0rgba(0,0,0,0.2);
width:260px;
border-radius:11px;
padding:20px;
line-height:2;
}
#countdown{
font-size:50px;
}



#Rules{
cursor:pointer;
width:58px;
height:73px;
border-width:2px;
border-color:white;
padding:9px;
background-color:black;
border-radius:4px;
color:hsl(0,0%,100%);
font-size:15px;
text-align:center;
}

.btn{
cursor:pointer;
justify-content:center;
width:139px;
margin-right:auto;
text-align:center;
border-width:2px;
border-color:white;
padding:3px;
background-color:black;
border-radius:49px;
color:hsl(0,0%,100%);
font-size:20px;
}

ol:hover{
cursor:pointer;

}

li:hover{
cursor:pointer;
text-decoration:underline;
}

@media(max-width:1950px){
body{
background-image:url("Challenge-repo-4/Assets/Bee movie SS.jpg");
}


}

@media(max-width:500px){
body{
background-image:url("Challenge-repo-4/Assets/Bee movie SS.jpg");
}

}
